.modal{
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    background-color: #fff;
    padding: 20px;
    width: auto;
    color: #000;
    border-radius: 20px;
}
.close{
    background-color: transparent;
    display: flex;
}

.container > section, form>div{
    display: flex;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
}
#logon, #CadCli{
    margin-top: 20px;
}

.linha-vertical {
    border-left: 2px solid;/* Adiciona borda esquerda na div como ser fosse uma linha.*/
  }
input{
    margin-left: 5px;
}

h5{
    text-decoration: underline;
}

.login{
    padding: 10px;
}